
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="alert alert-info">
{{ __f('You may use the following placeholders in the announcement: %QATICKET%, %DATE%'])}}
</div>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
